@use "/app/globals.scss" as *;

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: $width;
  ul {
    display: flex;
    a {
      padding: 1rem;
    }
  }
}
