@font-face {
  font-family: "Gochi Hand";
  src: url("/fonts/GochiHand-Regular.ttf");
}
@font-face {
  font-family: "Core Bandi Face";
  src: url("/fonts/Core\ Bandi\ Face\ W01\ Regular.ttf");
}

$dark-blue: #0b2658;
$light-blue: #7aa1e2;
$yellow: #f7b827;
$light-yellow: #f6e0ae;
$width: 75rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Core Bandi Face";
}

h1 {
  font-family: "Gochi Hand";
}

a {
  font-family: "Gochi Hand";
  color: $dark-blue;
  font-size: 1.5rem;
  transition: 0.2s ease-out;
  &:hover {
    color: $light-blue;
  }
}

button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid $dark-blue;
  color: #fff;
  background-color: $dark-blue;
  cursor: pointer;
  &:hover,
  &:focus {
    color: #fff;
    background-color: $light-blue;
    outline: none;
    transition: 0.2s ease-out;
  }
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid $dark-blue;
  outline: none;
}

.filter-buttons-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  button {
    &.active {
      background-color: $light-blue;
      color: #fff;
    }
  }
}
.grid {
  width: 100%;
  max-width: 80vw;

  .grid-item {
    width: 18.75rem; // = 300px

    img {
      max-width: 100%;
      border-radius: 0.5rem;
      margin-bottom: 0.7rem;
    }
  }
}
