@font-face {
  font-family: "Gochi Hand";
  src: url("/fonts/GochiHand-Regular.ttf");
}
@font-face {
  font-family: "Core Bandi Face";
  src: url("/fonts/Core\ Bandi\ Face\ W01\ Regular.ttf");
}

$dark-blue: #0b2658;
$light-blue: #7aa1e2;
$yellow: #f7b827;
$light-yellow: #f6e0ae;
$width: 75rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Core Bandi Face";
}

h1 {
  font-family: "Gochi Hand";
}

a {
  font-family: "Gochi Hand";
  color: $dark-blue;
  font-size: 1.5rem;
  transition: 0.2s ease-out;
  &:hover {
    color: $light-blue;
  }
}

button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid $dark-blue;
  color: #fff;
  background-color: $dark-blue;
  cursor: pointer;
  &:hover,
  &:focus {
    color: #fff;
    background-color: $light-blue;
    outline: none;
    transition: 0.2s ease-out;
  }
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid $dark-blue;
  outline: none;
}

section {
  max-width: $width;
  margin: 0 auto;
  min-height: 60vh;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $dark-blue;
  p {
    margin: 0 auto;
    font-size: 1.2rem;
    width: 50rem;
  }
}

.filter-buttons-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  button {
    &.active {
      background-color: $light-blue;
      color: #fff;
    }
  }
}
.grid {
  width: 100%;
  max-width: 80vw;

  .grid-item {
    width: 18.75rem; // = 300px

    img {
      max-width: 100%;
      border-radius: 0.5rem;
      margin-bottom: 0.7rem;
    }
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  thead {
    background-color: $light-yellow;
  }

  th,
  td {
    padding: 0.8rem;
    text-align: left;
  }

  tbody {
    tr {
      border-bottom: 2px solid $dark-blue;

      &:last-child {
        border-bottom: none; // Supprime la ligne sur la dernière ligne du tableau
        td:first-child {
          border-bottom-left-radius: 0.5rem;
        }
        td:last-child {
          border-bottom-right-radius: 0.5rem;
        }
      }
      &:nth-child(even) {
        background-color: #7aa0e241;
      }
    }
  }

  th {
    font-weight: bold;
    border-bottom: 2px solid $dark-blue;
    &:first-child {
      border-top-left-radius: 0.5rem;
    }
    &:last-child {
      border-top-right-radius: 0.5rem;
    }
  }

  td {
    vertical-align: middle;
  }

  a {
    font-family: "Core Bandi Face";
    font-size: 1rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: $dark-blue;
    transition: 0.2s ease-out;
    &:hover {
      background-color: $light-blue;
      color: white;
    }
  }

  button {
    background-color: rgba(255, 25, 0, 0.745);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.2s ease-out;

    &:hover {
      background-color: rgb(174, 4, 4);
    }
  }
}
